[submodule "themes/cupper"]
	path = themes/cupper
	url = https://github.com/zwbetz-gh/cupper-hugo-theme.git
[submodule "public"]
	path = public
	url = git@github.com:ironhopper/ironhopper.github.io.git
	branch = master
